
:root{

    /* Colors variables */
    --background-button-color-hover-ios:#66E2DC;
    --background-button-color-hover-android:#FFB964;
    --background-button-color-ios:#FCFAF9;
    --color-primary-or-button-color-android:#191826;
    --color-price-section:#FA7453;     
}

    .container{
        font-family: "IBM Plex sans", sans-serif;
    }
    body{
        background-image: url('starter-code/assets/bg-main-desktop.png');
    }

    /* Typography mobile screen */

    h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.45px;
        color: var(--color-primary-or-button-color-android);
    }
    h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
    main .banner p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-primary-or-button-color-android);
        text-align: left;
    }
    main .download .p2{   /* should be add a color of the text next-time before commit*/
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
    footer .credit p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-primary-or-button-color-android);
    }


